/* Doctorlist.css */

/* Doctorlist container */

/* Filter section */
.filter-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal appears above other elements */
}

.availability-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 400px;
}

/* Add any additional styles to customize the appearance of the availability card */

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
}

.filter-item label {
  font-weight: bold;
}

.filter-label {
  margin-right: 0.5rem;
}



.filter-item select,
.filter-item input[type="range"],
.filter-item input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter-item input[type="range"] {
  display: block;
}

.filter-item span {
  font-size: 0.8rem;
}

.filter-item button {
  padding: 10px;
  background-color: #9fd6e9;
  color: #000000;
  height: 37px;
  display: flex;
  align-items: center;
  gap: 0px;
  border:black;
  border-radius: 5px;
  cursor: pointer;
}

.availability-checkboxes{
align-items: left;

}

.checkbox-label {
 
}

.filter-button {
  padding: 10px 20px;
  background-color: #9fd6e9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* Doctor cards */


.doctor-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #a2c8de;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.doctor-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.doctor-card__image {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
}

.doctor-card__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.doctor-card__details h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.doctor-card__details p {
  margin: 0;
}

.no-results-text{
  text-align: center;
  margin-top: 150px;
  font-size: large;
}

.blue-underlined-button {
  color: blue;
  text-decoration: underline;
}

.doctor-card__details a {
  display: block;

  padding: 10px;
  border-radius: 5px;
  background-color: #7f9ab6;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.doctor-card__details a:hover {
  background-color: #7f9ab6;
}
